.nav ul {
    display: none;
    background-color: #dfdf;  
  }
  .nav li:hover ul { 
    display: block; 
} 
  .nav, .nav li {
    list-style: none; 
  }
  .nav li {
    float: left; 
  }
  .nav li a {
    padding: 5px;
    color: #000;
    text-decoration: none; 
  }
  .nav ul li { 
    float: none; 
    }