.nav ul {
    display: none;
    background-color: #dfdf;  
  }
  .nav li:hover ul { 
    display: block; 
} 
  .nav, .nav ul {
    list-style-type: none; 
  }
  .nav {
    height: 30px; 
    padding-left: 25px; 
    min-width: 470px;
  }
  .nav li {
    float: left; 
    position: relative; 
  }
  .nav li a {
    padding: 6px;
    width: 100px;
    color: #000;
    text-decoration: none; 
    text-align: center; 
  }
  .nav-link {
    display: flex;
    justify-content: center;
  }
  .nav ul li { 
    float: none; 
    }
  .nav li:hover { 
    background-color: #d7d7d7; 
  }